{% extends 'base.html.twig' %}

{% block body %}
<div class="panier">

    <p>Votre commande a bien était validée. Vous aller recevoir prochainement une confirmation par email.</p>

</div>

{% endblock %}
