{% extends 'base.html.twig' %}
{% block body %}
            <!-- CAROUSSEL DE PRESENTATION -->
            <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="5000">
                        <img id="fond2" src="/img/course.jpg" class="d-block w-100" alt="course">
                    </div>
                    <div class="carousel-item" data-interval="2000">
                        <img id="fond1" src="/img/basket.jpg" class="d-block w-100" alt="basket">
                    </div>
                    <div class="carousel-item" data-interval="2000">
                        <img id="fond1" src="/img/natation.jpg" class="d-block w-100" alt="natation">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- FIN CAROUSSEL -->
{% endblock %}
